<div class="banner">

  <div class="wrap">

    <div class="slides">
    	<div class="slide">
        <div class="slide-content">
        <h1>We know your challenges</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a href="knowmore.html" class="knowmore_button blue-button button"><i class="fa fa-angle-right"></i>Know More</a>
        </div>
        <div class="slide-image">
        	<img src="images/slide-images.png" />
           <div class="slide-image-title">TOPOLOGY</div>
        </div>
        </div>
    </div>

	<div class="page-outstanding-text"><h1>Changing the networking world with orchestrator</h1><a href="#" class="launch-action blue-button button"><i class="fa fa-rocket"></i>LETS TAKE THE TOUR</a></div>

  </div>

</div>
