<div class="banner">

  <div class="wrap">
  <div class="slides">
<div class="photoSlider">
    <ul class="bjqs">
        <li><div class="slide">
        <div class="slide-content">
        <h1>Network topology visualization</h1>
        <p>The CloudCanopy discovery gives you an easy way to build and discover your cloud and its infrastructure. Customize your view and locate your instances and their connections.</p>
        <a href="/orchestrator/network_topology_visualization/" class="knowmore_button blue-button button"><i class="fa fa-angle-right"></i>Know More</a>
        </div>
        <div class="slide-image">
        	<img src="images/network_topology_visualization.png" />
           <div class="slide-image-title">Network Topology Visualization</div>
        </div>
        </div></li>
        <li><div class="slide">
        <div class="slide-content">
        <h1>Workflow</h1>
        <p>Import and create automations scripts to perform any devops actions. Publish, execute, schedule workflows and manage the execution history.</p>
        <a href="/orchestrator/workflow_automation/" class="knowmore_button blue-button button"><i class="fa fa-angle-right"></i>Know More</a>
        </div>
        <div class="slide-image">
        	<img src="images/workflow.png" />
           <div class="slide-image-title">Workflow</div>
        </div>
        </div></li>
    </ul>
</div>

<div class="sliderNav">
    <ul>
        <li data-slideid="1"><span>Network topology visualization</span></li>
        <li data-slideid="2"><span>Workflow</span></li>
    </ul>
</div>

    
    	
    </div>

	<div class="page-outstanding-text"><h1>Changing the networking world with CloudCanopy</h1><a href="#" class="launch-action blue-button button"><i class="fa fa-rocket"></i>LETS TAKE THE TOUR</a></div>

  </div>

</div>
