<div class="section who_we_are_section">

  <div class="wrap">

    <div class="section-image">
    	<img src="images/info.png" />
    </div>
    
    <div class="section-content">
    	<h2>Cloud discovery</h2>
        <p>Discover your cloud in a quick way and setup a site of instances, volumes, snapshots, auto-scaling groups, ELBs and reserved instances. Get a comprehensive visualization of the site.</p>
        <a href="/orchestrator/who_we_are/" class="green-color"><i class="fa fa-angle-right"></i></a>
    </div>

  </div>

</div>
