<div class="section integration_with_APM_servers">

  <div class="wrap">

    <div class="section-image">
    	<img src="images/integ.png" />
    </div>
    
    <div class="section-content">
    	<h2>Integration with APM servers</h2>
        <p>Incorporate monitoring metrics and instance health information into your site by associating it with the APM server that your deployment uses.</p>
        <a href="/orchestrator/integration_with_APM_servers/" class="pink-light-color"><i class="fa fa-angle-right"></i></a>
    </div>

  </div>

</div>
