<div class="section who_we_are_section">

  <div class="wrap">

    <div class="section-image">
    	<img src="images/d-appliction.png" />
    </div>
    
    <div class="section-content">
    	<h2>Key management and Application discovery</h2>
        <p>Let Orchestrator take the responsibility of managing your instance keys. Discover processes and applications running on the instances. Discover connections between instances.</p>
        <a href="/orchestrator/who_we_are/" class="blue-color"><i class="fa fa-angle-right"></i></a>
    </div>

  </div>

</div>
