<div class="section who_we_are_section">

  <div class="wrap">

    <div class="section-image">
    	<img src="images/commands.png" />
    </div>
    
    <div class="section-content">
    	<h2>Multi-terminal Command Invocation</h2>
        <p>Experience a terminal like view to execute shell commands simultaneously on multiple instances. Analyze the results and statuses of the commands run. Construct and export the obtained results as reports.</p>
        <a href="/orchestrator/workflow_automation.html" class="green-light-color"><i class="fa fa-angle-right"></i></a>
    </div>

  </div>

</div>
