<div class="section who_we_are_section">

  <div class="wrap">

    <div class="section-image">
    	<img src="images/network-topology.png" />
    </div>
    
    <div class="section-content">
    	<h2>Network Topology Visualization</h2>
        <p>Get a holistic view of the site and a clear perspective of the instances, details, statuses and connectivity. Customize the way the instances are grouped and define your own view of your site.</p>
        <a href="/orchestrator/who_we_are/" class="pink-color"><i class="fa fa-angle-right"></i></a>
    </div>

  </div>

</div>
