<div class="section who_we_are_section">

  <div class="wrap">

    <div class="section-image">
    	<img src="images/autmation-workflow.png" />
    </div>
    
    <div class="section-content">
    	<h2>Workflow Automation</h2>
        <p>You can automate anything – from simple software setup and configuration to complicated application deployment on your site. Orchestrator lets you define, view, publish, execute and schedule workflows to be run on various instances.</p>
        <a href="/orchestrator/workflow_automation/" class="choclate-color"><i class="fa fa-angle-right"></i></a>
    </div>

  </div>

</div>
